
#headingTagOne {
    color: red;
    background-color: black;
}

.headingTagTwo {
    color: blue;
    background-color: yellow;
}

body {
    background-color: slategrey;
}

button {
    background-color: white;
    color: green;
}

#input-name {
    color: red;
    background-color: whitesmoke;
}

.box {
    height: 100px;
    width: 100px;
    border: 1px solid #000;
    margin: 5px;
    text-align: center;
    background-color: rosybrown;
}