.single-clicked-button {
    width: 100px;
    height: 25px;
    background-color: blue;
    color: white;
}

.double-clicked-button {
    width: 100px;
    height: 25px;
    background-color: red;
    color: white;
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: white;
    color: black;
}